*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(50deg, #110e77 70%, #14c3e0 0%);
}

/* container */
#container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: calc(100vh - 40px);
    display: flex;
    border: 1px solid white;
}

/* colonne */
.col-sx{
    width: 30%;
    background-color: blue;
}

.col-dx{
    width: 70%;
}

/* colonna sinistra */
/* header */
#head-sx, #notifiche, #search-sx, .contatti{
    height: 60px;
}

#head-sx{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
}

#head-sx .head-col-sx{
    display: flex;
    align-items: center;
}

.head-col-sx, .head-col-dx{
    width: 50%;
    background-color: #05003c;
    color: white;
}

#head-sx .head-col-dx{
    display: flex;
    align-items: center;
    justify-content: end;
}

#head-sx .head-col-sx img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

#head-sx .head-col-sx div{
    margin-left: 10px;
}

#head-sx .head-col-dx a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

/* notifiche */
#notifiche{
    background-color: #17a0b5;
    display: flex;
    align-items: center;
}

#notifiche > a{
    font-size: 15px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: cornflowerblue;
}

/* search */
#search-sx{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
}

#search-sx a{
    text-decoration: none;
    font-size: 20px;
}

#search-sx input{
    width: 80%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid black;
}

/* contatti */
.contatti{
display: flex;
align-items: center;
color: white;
border: 1px solid #0c0c56;
}

.contatti:hover{
    background-color: rgb(38, 29, 94);
}

.contatti img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 50%;
}

/* colonna destra */

/* header dx */
#head-dx{
    height: 60px;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
}

#head-dx .head-col-sx{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

#head-dx .head-col-dx{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#head-dx .head-col-sx img{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 10px;
}

#head-dx .head-col-dx a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

/* main text */
.main-text{
    height: calc(100% - 110px);
    border: 1px solid black;
    background-image: url(../img/sfondo.jpg);
    background-size: contain;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.text{
    height: 50px;
    border: 1px solid black;
}

.text-send, .text-receive{
    width: 45%;
    min-height: 50px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    min-height: 55px;
}

.text-send{
    background-color: rgb(59, 194, 59);
    text-align: end;
    margin-right: 20px;
    align-self: flex-end;
}

.text-receive{
    background-color: lightskyblue;
}

/* footer */
footer{
    height: 50px;
    display: flex;
    background-color: lightgrey;
    background-color: #05003c;
}

.footer-col-sx, .footer-col-dx{
    width: 10%;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    text-decoration: none;
    font-size: 20px;
}

.footer-col-cc{
    width: 80%;
    border: 1px solid rgb(255, 255, 255);
}

.footer-col-cc input{
    width: 95%;
    margin: 10px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    border: 1px solid rgb(255, 255, 255);
}