<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>BOOLZAPP</title>
</head>
<body>
    
    <div id="app">

        <!-- container -->
        <div id="container">

            <!-- colonna sinistra -->
            <div class="col-sx">

                <div id="head-sx">

                    <div class="head-col-sx">
                        <!-- dati profilo -->
                        <img :src="user.avatar" alt="">
                        <div>{{user.name}}</div>
                    </div>

                    <!-- link header -->
                    <div class="head-col-dx">
                        <a href="">
                            <i class="fa-regular fa-circle" style="color: #737373;"></i>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-message" style="color: #737373;"></i>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-ellipsis-vertical" style="color: #737373;"></i>
                        </a>
                    </div>
                </div>

                <!-- notifiche -->
                <div id="notifiche">
                    <a href="">
                        <i class="fa-regular fa-bell-slash" style="color: #ffffff;"></i>
                    </a>
                    <div>
                        <div>
                            Ricevi notifiche di nuovi messaggi
                        </div>
                        <div>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                </div>

                <!-- search -->
                <div id="search-sx">
                    <a href="">
                        <i class="fa-solid fa-magnifying-glass" style="color: #737373;"></i>
                    </a>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <!-- contatti -->
                <div class="contatti" v-for="(elm, index) in contacts">
                    <img :src="contacts[positionItem].avatar" alt="foto profilo">
                    <div>
                        <div>{{contacts[positionItem].name}}</div>
                    </div>
                </div>
            </div>

            <!-- colonna destra -->
            <div class="col-dx">
                <div id="head-dx">
                    <!-- dati profilo -->
                    <div class="head-col-sx">
                        <img :src="" alt="foto">
                        <div></div>
                    </div>

                    <!-- link header -->
                    <div class="head-col-dx">
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass" style="color: #737373;"></i>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-paperclip" style="color: #737373;"></i>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-ellipsis-vertical" style="color: #737373;"></i>
                        </a>
                    </div>
                </div>

                <!-- corpo principale testo -->
                <div class="main-text">

                    <div class="send">
                        <div class="text-send" v-for="(elm, index) in contacts[positionItem].messages">
                            {{elm.message}}
                        </div>
                    </div>

                    <div class="receive">
                        <div class="text-receive" v-for="(elm, index) in contacts[positionItem].messages">
                            {{elm.message}}
                        </div>
                    </div>

                </div>

                <!-- footer -->
                <footer>
                    <!-- colonna sinistra -->
                    <div class="footer-col-sx">
                        <a href="">
                            <i class="fa-solid fa-face-smile" style="color: #737373;"></i>
                        </a>
                    </div>

                    <!-- colonna centro -->
                    <div class="footer-col-cc">
                        <input type="text" name="" id="">
                    </div>

                    <!-- colonna destra -->
                    <div class="footer-col-dx">
                        <a href="">
                            <i class="fa-solid fa-microphone" style="color: #737373;"></i>
                        </a>
                    </div>
                </footer>

            </div>

        </div>
        
        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>